In [2]:
import pandas as pd
from geopy.geocoders import Nominatim

In [26]:
# Intended to read processed file export from SQL database but will work with minor modifications otherwise
df = pd.read_csv('Institutions.csv', encoding='ISO-8859-1')

geolocator = Nominatim(user_agent="my_geocoder")

def get_coords(loc):
    location = geolocator.geocode(loc)
    print(loc)
    if location is None:
        return None
    return location.latitude, location.longitude

In [29]:
coords_tuple = df.apply(lambda row: get_coords({'country': row.Country, 'city': row.City}), axis=1)

{'country': 'Algeria', 'city': 'Algiers'}
{'country': 'Argentina', 'city': 'Buenos Aires'}
{'country': 'Armenia', 'city': 'Yerevan'}
{'country': 'Bangladesh', 'city': 'Dhaka'}
{'country': 'Belarus', 'city': 'Minsk'}
{'country': 'Brunei', 'city': 'Bandar Seri Begawan'}
{'country': 'Bulgaria', 'city': 'Gabrovo'}
{'country': 'Colombia', 'city': 'Bogota'}
{'country': 'Costa Rica', 'city': 'Cartago'}
{'country': 'Cuba', 'city': 'Havana'}
{'country': 'Ecuador', 'city': 'Quito'}
{'country': 'Egypt', 'city': 'Mansoura'}
{'country': 'Estonia', 'city': 'Tallinn'}
{'country': 'Ethiopia', 'city': 'Awasa'}
{'country': 'Georgia', 'city': 'Tbilisi'}
{'country': 'Grenada', 'city': "St. George's"}
{'country': 'Iceland', 'city': 'Reykjavík'}
{'country': 'Indonesia', 'city': 'Surabaya'}
{'country': 'Iran', 'city': 'Tabriz'}
{'country': 'Iraq', 'city': 'Baghdad'}
{'country': 'Israel', 'city': 'Haifa'}
{'country': 'Jordan', 'city': 'Irbid'}
{'country': 'Kazakhstan', 'city': 'Astana'}
{'country': 'Kuwait', 'city': 'Kuwait City'}
{'country': 'Latvia', 'city': 'Riga'}
{'country': 'Lebanon', 'city': 'Beirut'}
{'country': 'Liechtenstein', 'city': 'Balzers'}
{'country': 'Luxembourg', 'city': 'Esch-sur-Alzette'}
{'country': 'Republic of North Macedonia', 'city': 'Skopje'}
{'country': 'Moldova', 'city': 'Chisinau'}
{'country': 'Montenegro', 'city': 'Podgorica'}
{'country': 'Morocco', 'city': 'Fes'}
{'country': 'Nigeria', 'city': 'Nsukka'}
{'country': 'Oman', 'city': 'Seeb'}
{'country': 'Pakistan', 'city': 'Lahore'}
{'country': 'Palestine', 'city': 'Jenin'}
{'country': 'Peru', 'city': 'Puno'}
{'country': 'Philippines', 'city': 'Quezon City'}
{'country': 'Serbia', 'city': 'Belgrade'}
{'country': 'Slovakia', 'city': 'Bratislava'}
{'country': 'Slovenia', 'city': 'Ljubljana'}
{'country': 'Sudan', 'city': 'Wad Madani'}
{'country': 'Syria', 'city': 'Homs'}
{'country': 'Tajikistan', 'city': 'Dushanbe'}
{'country': 'Jamaica', 'city': 'Kingston'}
{'country': 'Uganda', 'city': 'Kampala'}
{'country': 'Uruguay', 'city': 'Montevideo'}
{'country': 'Uzbekistan', 'city': 'Tashkent'}
{'country': 'Venezuela', 'city': 'Caracas'}
{'country': 'Yemen', 'city': 'Al Hudaydah'}

630                     (36.7753606, 3.0601882)
631                    (-34.6037181, -58.38153)
632                    (40.1777112, 44.5126233)
633                     (23.7644025, 90.389015)
634                    (53.9024716, 27.5618225)
635                    (4.8895453, 114.9417574)
636                     (42.8710344, 25.315798)
637                    (4.6533816, -74.0836333)
638                    (9.8642435, -83.9204377)
639                    (23.135305, -82.3589631)
640                   (-0.2201641, -78.5123274)
641    (28.075892099999997, 30.750367351843558)
642                    (59.4372155, 24.7453688)
643                       (7.0481029, 38.47861)
644                    (41.6934591, 44.8014495)
645                    (12.0535331, -61.751805)
646                    (64.145981, -21.9422367)
647                   (-7.2459717, 112.7378266)
648                    (38.0738612, 46.2978789)
649                    (33.3061701, 44.3872213)
650             (32.799313, 34.989571715728204)
651                    (32.5556091, 35.8493023)
652                    (51.1282205, 71.4306682)
653                    (29.3796532, 47.9734174)
654                    (56.9493977, 24.1051846)
655            (33.88922645, 35.50255852895232)
656                      (47.0688822, 9.506159)
657                     (49.4959628, 5.9850306)
658                    (41.9961816, 21.4319213)
659                    (47.0245117, 28.8322923)
660                    (42.4415238, 19.2621081)
661                    (34.0346534, -5.0161926)
662                            (6.8561, 7.3927)
663                    (23.6821956, 58.1843842)
664                    (31.5656822, 74.3141829)
665                     (32.4618837, 35.297566)
666                  (-15.8405962, -70.0279512)
667                   (14.6510546, 121.0486254)
668                    (44.8178131, 20.4568974)
669                    (48.1516988, 17.1093063)
670                    (46.0500268, 14.5069289)
671                    (14.3965781, 33.5309561)
672                    (34.7333334, 36.7166667)
673                    (38.5762709, 68.7863573)
674                   (17.9712148, -76.7928128)
675                     (0.3177137, 32.5813539)
676                  (-34.9058916, -56.1913095)
677                    (41.3123363, 69.2787079)
678                   (10.5060934, -66.9146008)
679                    (14.7978677, 42.9544872)
dtype: object

In [30]:
coords_df = pd.DataFrame(coords_tuple)
coords_df

                                            0
630                   (36.7753606, 3.0601882)
631                  (-34.6037181, -58.38153)
632                  (40.1777112, 44.5126233)
633                   (23.7644025, 90.389015)
634                  (53.9024716, 27.5618225)
635                  (4.8895453, 114.9417574)
636                   (42.8710344, 25.315798)
637                  (4.6533816, -74.0836333)
638                  (9.8642435, -83.9204377)
639                  (23.135305, -82.3589631)
640                 (-0.2201641, -78.5123274)
641  (28.075892099999997, 30.750367351843558)
642                  (59.4372155, 24.7453688)
643                     (7.0481029, 38.47861)
644                  (41.6934591, 44.8014495)
645                  (12.0535331, -61.751805)
646                  (64.145981, -21.9422367)
647                 (-7.2459717, 112.7378266)
648                  (38.0738612, 46.2978789)
649                  (33.3061701, 44.3872213)
650           (32.799313, 34.989571715728204)
651                  (32.5556091, 35.8493023)
652                  (51.1282205, 71.4306682)
653                  (29.3796532, 47.9734174)
654                  (56.9493977, 24.1051846)
655          (33.88922645, 35.50255852895232)
656                    (47.0688822, 9.506159)
657                   (49.4959628, 5.9850306)
658                  (41.9961816, 21.4319213)
659                  (47.0245117, 28.8322923)
660                  (42.4415238, 19.2621081)
661                  (34.0346534, -5.0161926)
662                          (6.8561, 7.3927)
663                  (23.6821956, 58.1843842)
664                  (31.5656822, 74.3141829)
665                   (32.4618837, 35.297566)
666                (-15.8405962, -70.0279512)
667                 (14.6510546, 121.0486254)
668                  (44.8178131, 20.4568974)
669                  (48.1516988, 17.1093063)
670                  (46.0500268, 14.5069289)
671                  (14.3965781, 33.5309561)
672                  (34.7333334, 36.7166667)
673                  (38.5762709, 68.7863573)
674                 (17.9712148, -76.7928128)
675                   (0.3177137, 32.5813539)
676                (-34.9058916, -56.1913095)
677                  (41.3123363, 69.2787079)
678                 (10.5060934, -66.9146008)
679                  (14.7978677, 42.9544872)

In [31]:
coords_df.columns = ['coord']

In [34]:
coords_df['lat'] = coords_df.coord.apply(lambda x: x[0] if x is not None and ~pd.isna(x) else None)
coords_df['lat']

630    36.775361
631   -34.603718
632    40.177711
633    23.764402
634    53.902472
635     4.889545
636    42.871034
637     4.653382
638     9.864244
639    23.135305
640    -0.220164
641    28.075892
642    59.437216
643     7.048103
644    41.693459
645    12.053533
646    64.145981
647    -7.245972
648    38.073861
649    33.306170
650    32.799313
651    32.555609
652    51.128220
653    29.379653
654    56.949398
655    33.889226
656    47.068882
657    49.495963
658    41.996182
659    47.024512
660    42.441524
661    34.034653
662     6.856100
663    23.682196
664    31.565682
665    32.461884
666   -15.840596
667    14.651055
668    44.817813
669    48.151699
670    46.050027
671    14.396578
672    34.733333
673    38.576271
674    17.971215
675     0.317714
676   -34.905892
677    41.312336
678    10.506093
679    14.797868
Name: lat, dtype: float64

In [35]:
coords_df['long'] = coords_df.coord.apply(lambda x: x[1] if x is not None and ~pd.isna(x) else None)
coords_df['long']

630      3.060188
631    -58.381530
632     44.512623
633     90.389015
634     27.561823
635    114.941757
636     25.315798
637    -74.083633
638    -83.920438
639    -82.358963
640    -78.512327
641     30.750367
642     24.745369
643     38.478610
644     44.801449
645    -61.751805
646    -21.942237
647    112.737827
648     46.297879
649     44.387221
650     34.989572
651     35.849302
652     71.430668
653     47.973417
654     24.105185
655     35.502559
656      9.506159
657      5.985031
658     21.431921
659     28.832292
660     19.262108
661     -5.016193
662      7.392700
663     58.184384
664     74.314183
665     35.297566
666    -70.027951
667    121.048625
668     20.456897
669     17.109306
670     14.506929
671     33.530956
672     36.716667
673     68.786357
674    -76.792813
675     32.581354
676    -56.191310
677     69.278708
678    -66.914601
679     42.954487
Name: long, dtype: float64

In [34]:
df['lat'] = coords_df.lat
df['long'] = coords_df.long
df

,Region,InstName,Type,Country,State/Province,City,VC_Design,VC_Manufacturing,VC_Application,VC_Basic_Research,InstId,lat,long
0,EUR,University of Würzburg,University,Germany,Bavaria,Würzburg,NaN,NaN,NaN,Y,1276,49.793372,9.930978
1,EUR,University of Wuppertal,University,Germany,North Rhine-Westphalia,Wuppertal,NaN,NaN,NaN,Y,1277,51.264018,7.178037
2,EUR,University of Tübingen,University,Germany,Baden-Württemberg,Tübingen,NaN,NaN,NaN,Y,1278,48.523616,9.053553
3,EUR,University of the Bundeswehr Munich,University,Germany,Bavaria,Neubiberg,NaN,NaN,NaN,Y,1279,48.076994,11.661514
4,EUR,University of Stuttgart,University,Germany,Baden-Württemberg,Stuttgart,NaN,NaN,NaN,Y,1280,48.778449,9.180013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,EAP,Tatung University,University,Taiwan,Taipei,Taipei,NaN,NaN,NaN,Y,1901,25.037520,121.563680
626,EAP,NXP Semiconductors Taiwan Limited,Company,Taiwan,New Taipei City,New Taipei City,Y,Y,Y,NaN,1902,24.980300,121.462612
627,EAP,UMC,Company,Taiwan,Hsinchu,Hsinchu,Y,Y,Y,Y,1903,24.806633,120.968683
628,EAP,"MediaTek, Inc.",Company,Taiwan,Hsinchu,Hsinchu,Y,Y,Y,Y,1904,24.806633,120.968683
629,EAP,National University of Tainan,University,Taiwan,Tainan,Tainan,NaN,NaN,NaN,Y,1905,22.991235,120.184982

In [38]:
df.to_csv('Institutions.csv', index=False)